# Tabulation & Categorical Data Analysis

* One way, two way & three way tables
* Margin & percentage tables
* Chi-Square Test of Association
* Fisher’s Exact Test of Association

In [1]:
# Setting working Directory
import os
os.getcwd()
os.chdir('path')
os.getcwd()

'D:\\Career\\My Training Material\\Edvancer Oct 2019 Data Science_R'

## Import Library 
## Import Data

In [2]:
import pandas as pd

In [3]:
people=pd.read_csv('people2.csv')

### Understand the data

In [16]:
people.head()

   Subject Eye Color  Height  Hand Span     Sex Handedness Height Cat
0        1     Brown     186        210    Male          R       Tall
1        2     Green     182        220    Male          R       Tall
2        3     Brown     147        167  Female        NaN        NaN
3        4     Green     157        180  Female          L      Short
4        5     Brown     170        193    Male          R     Medium

In [ ]:
people.shape

In [ ]:
people.info()

In [ ]:
people.dtypes

In [ ]:
people.describe()

In [ ]:
people.describe(include='all')

In [ ]:
people['Eye Color'].describe()

In [ ]:
people.Sex.describe()

In [ ]:
people.columns

# One Way Frequency Table

In [ ]:
people['Eye Color'].value_counts()

In [ ]:
people['Eye Color'].value_counts().sum()

In [ ]:
people['Eye Color'].value_counts().max()

In [ ]:
people['Eye Color']

In [ ]:
people.Sex

# Two Way contigency Table/ Cross Tab

In [18]:
table = pd.crosstab(people['Eye Color'], people['Sex'], margins=True, margins_name='Sum')
table

Sex        Female  Male  Sum
Eye Color
Blue            3     4    7
Brown           1     5    6
Green           2     1    3
Sum             6    10   16

# Adding Margins

In [ ]:
pd.crosstab(people['Eye Color'], people['Sex'], margins=True)

In [ ]:
pd.crosstab(people['Eye Color'], people['Sex'], margins=True, margins_name='Total')

In [ ]:
pd.crosstab(people['Eye Color'], people['Handedness'])
# Only 13 counts out of total 16

# Percentage Table

In [10]:
pd.crosstab(people['Eye Color'], people['Sex'], margins=True, margins_name='Percentages', normalize='all').round(2)

Sex          Female  Male  Percentages
Eye Color
Blue           0.19  0.25         0.44
Brown          0.06  0.31         0.38
Green          0.12  0.06         0.19
Percentages    0.38  0.62         1.00

In [11]:
pd.crosstab(people['Eye Color'], people['Sex'], normalize='all')

Sex        Female    Male
Eye Color
Blue       0.1875  0.2500
Brown      0.0625  0.3125
Green      0.1250  0.0625

In [12]:
pd.crosstab(people['Eye Color'], people['Sex'], normalize='columns')

Sex          Female  Male
Eye Color
Blue       0.500000   0.4
Brown      0.166667   0.5
Green      0.333333   0.1

In [13]:
pd.crosstab(people['Eye Color'], people['Sex'], margins=True, margins_name='Percentages', normalize='index') # Row wise

Sex            Female      Male
Eye Color
Blue         0.428571  0.571429
Brown        0.166667  0.833333
Green        0.666667  0.333333
Percentages  0.375000  0.625000

In [ ]:
pd.crosstab(people['Eye Color'], people['Sex'], margins=True, margins_name='Percentages', normalize='columns') # Columns wise

In [ ]:
pd.crosstab(people['Eye Color'], people['Sex'], margins=True, margins_name='Percentages', normalize=True) # same as all

# Three way contigency table

In [14]:
pd.crosstab(people['Eye Color'], [people['Sex'], people['Height Cat']]) # Eye color in row, sex and heigth cat in columns

Sex        Female         Male
Height Cat Medium Short Medium Tall
Eye Color
Blue            3     0      2    2
Brown           0     0      4    1
Green           0     2      0    1

In [17]:
pd.crosstab([people['Eye Color'], people['Sex']], [people['Height Cat'], people['Handedness']]) # Notice the difference
# Eye color and sex in row and Height Cat in column

Height Cat       Medium    Short Tall
Handedness            L  R     L    R
Eye Color Sex
Blue      Female      1  2     0    0
          Male        0  1     0    2
Brown     Male        0  4     0    1
Green     Female      0  0     1    0
          Male        0  0     0    1

# Chi-Square Test of Association

In [19]:
from scipy.stats import chi2_contingency
chi2_contingency(table)

(2.285714285714286, 0.8916367010894682, 6, array([[ 2.625,  4.375,  7.   ],
        [ 2.25 ,  3.75 ,  6.   ],
        [ 1.125,  1.875,  3.   ],
        [ 6.   , 10.   , 16.   ]]))

In [20]:
table

Sex        Female  Male  Sum
Eye Color
Blue            3     4    7
Brown           1     5    6
Green           2     1    3
Sum             6    10   16

It gives chi sqare statistics, p-value and expected frequencies
there is no association between these variables.

# Fisher's Exact Test

In [23]:
import scipy.stats as stats
oddsratio, pvalue = stats.fisher_exact(table)
pvalue

ValueError: The input `table` must be of shape (2, 2).

R supports Fisher's Exact Test for larger cross tables, howver as of now python only supports fisher's exact test for 2*2 table
https://stackoverflow.com/questions/25368284/fishers-exact-test-for-bigger-than-2-by-2-contingency-table

# Using researchpy library for categorical data analysis

https://readthedocs.org/projects/researchpy/downloads/pdf/latest/

In [ ]:
#pip install researchpy
# conda install -c researchpy researchpy

import researchpy as rp

In [ ]:

rp.summary_cat(people['Sex'])

Returns a data table as a Pandas DataFrame that includes the counts and percentages of each category. If there are
missing data present (numpy.nan), they will be excluded from the counts. However, if the missing data is coded as a
string, it will be included as it’s own category.

In [ ]:
rp.summary_cat(people['Sex'], ascending=True) # In ascending order

In [ ]:
rp.summary_cat(people['Eye Color'], people['Sex'])

In [ ]:
rp.crosstab(people['Eye Color'], people['Sex'])

In [ ]:
table, results = rp.crosstab(people['Eye Color'], people['Sex'], test='chi-square')
    
print(table)
results

# Available tests  “chi-square”, “g-test”, “mcnemar”, or “fisher”
# 'Yates correction also available'

# Other Consideration


Post Hoc Tests with correction
https://pythonfordatascience.org/chi-square-test-of-independence-python/