In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/winequality-white.csv', sep=';')

In [3]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [4]:
df.quality.value_counts()

6    2198
5    1457
7     880
8     175
4     163
3      20
9       5
Name: quality, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
fixed acidity           4898 non-null float64
volatile acidity        4898 non-null float64
citric acid             4898 non-null float64
residual sugar          4898 non-null float64
chlorides               4898 non-null float64
free sulfur dioxide     4898 non-null float64
total sulfur dioxide    4898 non-null float64
density                 4898 non-null float64
pH                      4898 non-null float64
sulphates               4898 non-null float64
alcohol                 4898 non-null float64
quality                 4898 non-null int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

### Some Important Observations
* After first experiment, we realize that we have too less of observations to get the right class of data
* Can we minimize/bucketize the target information?
* Let's try to bucketize it to 3 classes

In [6]:
def f(r):
    if r <= 3:
        return 1
    elif r<= 6:
        return 2
    else:
        return 3

df.quality = df.quality.map(f)

In [7]:
df.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4071,7.6,0.26,0.32,1.3,0.048,23.0,76.0,0.99030,2.96,0.46,12.0,2
4081,5.7,0.25,0.26,12.5,0.049,52.5,106.0,0.99691,3.08,0.45,9.4,2
4666,6.4,0.31,0.53,8.8,0.057,36.0,221.0,0.99642,3.17,0.44,9.1,2
1790,9.4,0.16,0.30,1.4,0.042,26.0,176.0,0.99540,3.15,0.46,9.1,2
180,6.4,0.33,0.31,5.5,0.048,42.0,173.0,0.99510,3.19,0.66,9.3,2
2266,9.4,0.42,0.32,6.5,0.027,20.0,167.0,0.99479,3.08,0.43,10.6,2
1984,7.6,0.20,0.30,14.2,0.056,53.0,212.5,0.99900,3.14,0.46,8.9,3
2888,8.5,0.22,0.34,0.7,0.040,5.0,25.0,0.99180,3.04,0.37,10.5,2
2937,7.7,0.25,0.30,7.8,0.038,67.0,196.0,0.99555,3.10,0.50,10.1,2
4841,5.7,0.22,0.25,1.1,0.050,97.0,175.0,0.99099,3.44,0.62,11.1,2

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
from sklearn.linear_model import LogisticRegression

In [10]:
lr = LogisticRegression()

In [11]:
trainX, testX, trainY, testY = train_test_split(df.drop(columns=['quality']), df.quality)

In [12]:
lr.fit(trainX, trainY)

/home/awantik/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/awantik/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [13]:
lr.score(testX, testY)

0.8024489795918367

In [152]:
from sklearn.feature_selection import f_classif, SelectKBest

fs = SelectKBest(k=7,score_func=f_classif)

In [153]:
feature = df.drop(columns=['quality'])
target = df.quality

In [154]:
feature_fs = fs.fit_transform(feature, target)

In [155]:
trainX, testX, trainY, testY = train_test_split(feature_fs, target)

In [156]:
lr = LogisticRegression()
lr.fit(trainX, trainY)

/home/awantik/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/awantik/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [157]:
lr.score(testX, testY)

0.8146938775510204

In [158]:
y_pred = lr.predict(testX)

In [159]:
from sklearn.metrics import confusion_matrix

In [160]:
conf_mat = confusion_matrix(y_pred=y_pred, y_true=testY)

In [161]:
pd.DataFrame(conf_mat, columns=['Predicted 1', 'Predicted 2', 'Predicted 3'], index=['Actual 1', 'Actual 2', 'Actual 3'])

          Predicted 1  Predicted 2  Predicted 3
Actual 1            0            4            0
Actual 2            0          932           37
Actual 3            0          186           66

### Observation from confusion matrix
* Diagonal count are the correct classification.
* 199 data actually belongs to class 3 but misclassified as class 2
* 38 belongs to class 2 but misclassified as class 3
* 0 data of class 1 is correctly classified
* 5 data of class 1 is available in test dataset but misclassified as class 2

In [162]:
df.quality.value_counts()

2    3818
3    1060
1      20
Name: quality, dtype: int64

### Understanding the above observation
* The classes seems to be imbalanced.
* ML models are succiptable to predict data belonging to maximum representative class.
* As we see from above confusion matrix, because 0 class had very few data model is not at all predicting class 0

### Dealing with imbalanced classes
* Most popular technique is generating under representative class.
* Either we can repeat information or using nearest neighbours, we generate similar data.
* Install a separate library for getting access to new sampling methods - https://imbalanced-learn.readthedocs.io/en/stable/install.html
* Other no so popular techniques are reducing over representative class of data

In [163]:
from imblearn.over_sampling import RandomOverSampler, SMOTE

* RandomOverSampler generates same data of under representative class
* SMOTE generates similar data

In [164]:
sampler = RandomOverSampler()
#sampler = SMOTE(k_neighbors=4)

In [165]:
feature_s, target_s = sampler.fit_sample(feature_fs, target)

In [166]:
feature_s.shape

(11454, 7)

In [167]:
pd.Series(target_s).value_counts()

3    3818
2    3818
1    3818
dtype: int64

In [168]:
lr = LogisticRegression()

In [169]:
trainX, testX, trainY, testY = train_test_split(feature_s, target_s)

In [170]:
lr.fit(trainX, trainY)

/home/awantik/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/awantik/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [171]:
y_pred = lr.predict(testX)

In [172]:
confusion_matrix(y_pred=y_pred, y_true=testY)

array([[451, 248, 254],
       [246, 470, 279],
       [134, 155, 627]])

In [173]:
lr.score(testX, testY)

0.5405027932960894

In [174]:
from sklearn.tree import DecisionTreeClassifier

In [175]:
dt = DecisionTreeClassifier()

In [176]:
dt.fit(trainX, trainY)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [177]:
dt.score(testX, testY)

0.9420391061452514

In [178]:
y_pred = dt.predict(testX)

In [135]:
confusion_matrix(y_pred=y_pred, y_true=testY)

array([[968,   0,   0],
       [  6, 817, 111],
       [  0,  33, 929]])