### Topics
1. Recap of Regression & Classification
2. Solving simple problems with regression & classification

<hr>

#### Regression
* Feature Data/Independent Variables -> (Sqft,Floor,TotalFloor,Bedroom,Living.Room,Bathroom)
* Target Data/Dependent Variable -> Price

In [1]:
import pandas as pd

In [4]:
house_rental_data = pd.read_csv('data-science-complete-tutorial/Data/house_rental_data.csv.txt', index_col = 'Unnamed: 0')

In [6]:
house_rental_data.head()

       Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom  Price
1  1177.698      2           7        2            2         2  62000
2  2134.800      5           7        4            2         2  78000
3  1138.560      5           7        2            2         1  58000
4  1458.780      2           7        3            2         2  45000
5   967.776     11          14        3            2         2  45000

In [7]:
from sklearn.linear_model import LinearRegression

In [9]:
# Creating an empty model
lr = LinearRegression()

In [12]:
feature_data = house_rental_data.drop('Price',axis=1)

In [13]:
feature_data.head()

       Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom
1  1177.698      2           7        2            2         2
2  2134.800      5           7        4            2         2
3  1138.560      5           7        2            2         1
4  1458.780      2           7        3            2         2
5   967.776     11          14        3            2         2

In [14]:
target_data = house_rental_data.Price

In [10]:
#Split the data into two parts
from sklearn.model_selection import train_test_split

In [16]:
#training feature data = trainX
#training target data = trainY
#testing feature data = testX
#testing target data = testY
trainX, testX, trainY, testY = train_test_split(feature_data, target_data)

In [18]:
trainX.shape

(483, 6)

In [19]:
house_rental_data.shape

(645, 7)

In [20]:
testX.shape

(162, 6)

In [21]:
# Training the empty model
lr.fit(trainX,trainY)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
lr.predict(testX[:2])

array([30526.12543124, 78167.23677671])

In [23]:
testX[:2]

         Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom
368   658.230      4           4        1            1         1
215  1996.038      5          12        3            2         2

In [24]:
testY[:2]

368    22000
215    75000
Name: Price, dtype: int64