In [ ]:
Mutable :
    list 
    dict
    set 
    
Immutable :
    int
    float
    tuple
    str
    bool

In [ ]:
== and = 
== and is

In [ ]:
id 
type

In [ ]:
in

In [ ]:
for user_defined_var in [iterable datatype]:
    statement1
    if
         break
else:
statement2

In [ ]:
range(50) 0 1 2 .... 49
range(10,50) 10.... 49 
range(10,50,2) ...... 10 12 14 ..... 48

In [ ]:
enumerate

for index,value in enumerate(iterable_datatype):

In [2]:
l = [10,20,30,40,50]
for value in l:
    print(value)
    if value == 40:
        break
else:
    print("Getting here")

10
20
30
40

In [4]:
l = [10,20,45,100,2,70,14]
# max number from this list => 100

# max = 0

# 1. if 10 > max:
#       max = 10 
#    else:
#       continue 
        
# 2. if 20 > 10:
#       max = 20 
        
# 3  if 45 > 20
#       max = 45
    
# 4. if 100 > 45:
#       max = 100
        
# 5 if 2 > 100 

#   else:
#         continue

max = 0 
for value in l:
    if value > max:
        max = value
print("max num is",max)

1 : value : 10   max : 0    10 > 0   max = 10 
2. value  : 20   max : 10   20 > 10  max = 20 

max = 100
value :2  max = 100  2 > 100

max num is 100

In [ ]:
l = [10,20,45,100,2,70,14]
sum = 0

sum = sum + 10
sum = sum + 20
sum = sum + 45

print(sum)

In [6]:
l = [10,20,100,40,50,60,70]

max = 0
for value in l:
    if value > max:
        max = value

print(max)
#         break

100

In [ ]:
l = [10,20,45,100,2,70,14]

max1 => max 
max2=> sec max 

COndition 1 :
    max1 = 45
    max2 = 20
    
    Current no = 100 
    max1 = 100
    max2 = 45
    
Condition 2:
    max1 => 100
    max2 => 45
    
    Current No : 70 
    max1 => 100
    max2 => 70
    
Condition 3 : 
    max1 =100
    max2 = 70
    
    currentno : 14 
    
        
    

current no 10 : current_ no is greater than max1 and max2:
                    max1 = current_no 
                    max2 = max1
                current_no is less than max1 but greater than max 2 
                    max2 = current_no
                current_ no less than max1 and less than max2 
                    continue

In [7]:
l = [10,20,45,100,2,70,14]
max1 = 0
max2 = 0

for value in l:
    if value > max1 and value > max2:
        max2 = max1
        max1 = value
    elif value < max1 and value > max2:
        max2 = value
        
print(max1,max2)

100 70

In [ ]:
     1        2     3     4     5
1    1        2     3           5
2    2        4     6
3    3        6     9 
4    4        8
5    5
6    6
     7
     8
     9
10    10      20     30          10

In [17]:
for value1 in range(1,11):
    for value2 in range(1,6):
        print(value1 * value2,end = "\t")
    print("\n")

1	2	3	4	5

2	4	6	8	10

3	6	9	12	15

4	8	12	16	20

5	10	15	20	25

6	12	18	24	30

7	14	21	28	35

8	16	24	32	40

9	18	27	36	45

10	20	30	40	50

In [15]:
print(10,"Hi",end = "\t",sep=";")
print("Python")
print("12345")

10;Hi	Python
12345

In [8]:
for value1 in range(1,5):
    for value2 in range(100,103):
        print(value1,value2)

1 100
1 101
1 102
2 100
2 101
2 102
3 100
3 101
3 102
4 100
4 101
4 102

In [19]:
s = "Python sample string"
for value in s:
    print(value)

P
y
t
h
o
n

s
a
m
p
l
e

s
t
r
i
n
g

In [22]:
l = (10,20,"Python",40)
for value in l:
    print(value)

10
20
Python
40

In [23]:
d = {1:1,2:4,3:9,4:16}
for x in d:
    print(x)

1
2
3
4

In [24]:
for value in 100:
    print(value)

TypeError: 'int' object is not iterable

In [ ]:
str => char
list/tuple/set => element 
dict => keys
int/float => error

In [ ]:
while [condition]:
    statemnts1
    
    
statement2

In [ ]:
while 100:

In [ ]:
non zero => True 
zero : 0 False [] "" () {} => False

In [25]:
sum = 0
count = 1 

while count <= 20:
    sum = sum + count 
    count+=1
    
print(sum)

210

In [26]:
num = 5 
# fact = 5 * 4 * 3 * 2 * 1 => 120 
fact = 1 

while num > 0:
    fact *= num
    num -=1
    
print(fact)

120

In [ ]:
5 fact = 1 * 5 => 5   num 4 
  fact = 5 * 4 => 20  num 3