In [1]:
print("Hi")

Hi

In [ ]:
Datatypes in Python : 
    int 10 12 56  immutbale 
    float 10.55 56.555 immutable
    str 'python' "100" """Learning python is easy""" : immutable
    list [10,20,30,40] => Mutable 
    tuple (10,20,30,40,50) => Immutable
    dict {"name":"ABC","email":"abc@gmail.com","age":45} key:value, Mutable
    set {10,20,30,40} Mutable
    bool True False : Immutable

In [ ]:
Mutable

In [ ]:
Immutable

In [ ]:
print("10")

In [4]:
num1 = 100
num2 = 200
num3 = num1 + num2
print(num3)

300

In [6]:
s = "Python is easy to learn"
print(type(s))

<class 'str'>

In [7]:
l = [10,20,30,40,50]
print(type(l))

<class 'list'>

In [8]:
d = {1:1,2:4,3:9,4:16}
print(type(d))

<class 'dict'>

In [9]:
num1 = 100
print(id(num1))

1807972512

In [ ]:
100   
2512   num1

In [13]:
num1 = 1000
num2 = 1000
print(id(num1),id(num2))

2205412266896 2205412266800

In [14]:
num1 = 100
print(num1,id(num1))
num1 = 200
print(num1,id(num1))

100 1807972512
200 1807975712

In [ ]:
 
200  712  num1

In [16]:
l = [10,20,30,40,50]
print(id(l))
l.append(60)
print(l,id(l))

2205412360264
[10, 20, 30, 40, 50, 60] 2205412360264

In [ ]:
Mutable : Change the value at same mem location : methods to add/update/delete 
Immutable : Can not change the value at same mem location : No methods to add/update and delete

In [17]:
s = "Python"
print(id(s))
s = "Java"
print(id(s))

2205342241768
2205379484336

In [ ]:
Mutable  :
    List 
    Set 
    dict 
    
Immutable :
    int
    float 
    tuple 
    bool
    str

In [37]:
num1 = 257
num2 = 257 
print(id(num1),id(num2))

2205412267312 2205412267376

In [ ]:
100 num1 
512

200 num1

In [ ]:
0 - 256

In [ ]:
Object intering

In [40]:
s = 'python is very easy to learn'
s1 = 'python is very easy to learn'
print(id(s),id(s1))

2205412309872 2205412309712

In [ ]:
iterable datatype :
    list 
    set
    tuple 
    dict 
    str
not iterable datatype 
    int 100
    float 
    bool

In [ ]:
Mutable and Iterable : 
    list 
    dict 
    set
    
Immutable and Iterable :
    tuple 
    str
Immutable and non iterable :
    int 
    float 
    bool

In [ ]:
print(False)

In [ ]:
True
False 
None

In [ ]:
PEP 8

In [ ]:
Naming conventios for variables: 
    1. Underscore casing  fisrtName = "ABC" first_name = "ABC"
    2. Should start with alpha , digits are allowed but not at the start
    3. Lower cases for variables and Upper for constants

In [41]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [43]:
num9 = 900
print(num9)

900

In [ ]:
IP_ADDRESS = "192.192.1.2"

In [45]:
First_name = "ABC"
print(First_name)

ABC

In [46]:
num1 = num2 = 200
print(num1,num2)

200 200

In [47]:
num1,num2 = 100,200
print(num1,num2)

100 200

In [49]:
num1 = 100,200
print(type(num1))

<class 'tuple'>

In [50]:
num1,num2 = 100,200
print(num1,num2)
num1,num2 = num2,num1
print(num1,num2)

100 200
200 100

In [ ]:

200       100
1000      1010
num1      num2

In [ ]:
100   num2
200   num1

In [ ]:
Operators : 
    1. Arithmetic operators +,-,*,/,// - floor division,** - power.%
    2. Comparison operators ==,!=,<,>,<=,>=  True / False
    3. Membership operators in not in
    4. Identity Operators is is not

In [55]:
print(10 / 3)
print(10 // 3 )
print(10 % 3)
print(2 ** 3)

3.3333333333333335
3
1
8

In [57]:
s = "Python"
s1 = "Python"
print(s == s1)

True

In [58]:
print(10 > 100)

False

In [59]:
l1 = [10,20,30]
l2 = [10,20,30]
print(l1 == l2)

True

In [62]:
print(100 not in [10,20,30])

True

In [71]:
print(5 in (500,))

False

In [75]:
d = {1:1,2:4,3:9,4:16}
print(9 in d)

False

In [72]:
t = [100]
print(type(t))

<class 'list'>

In [76]:
num1 = 100
num2 = 100
print(num1 == num2)
print(num1 is num2)

True
True

In [78]:
l1 = [10,20,30]
l2 = [10,20,30]
print(id(l1),id(l2))
print(l1 == l2)
print(l1 is l2)

2205412230984 2205411190408
True
False